@media (max-width: 426px) {
    html {
        font-size: 100%;
    }

    .meal-container {
        grid-template-columns: 1fr;
    }

    main {
        padding: 0 3rem;
    }

    .logo-img {
        width: 30%;
        margin-top: .5rem;
    }

    .logo-links-container {
        position: relative;
        width: 100%;
        padding: 0 1rem;
    }

    .nav-links-reg {
        display: none;
    }

    .nav-links-phone {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        height: 100vh;
        width: 100vw;
        padding-left: 0;
        padding-top: 1.5rem;
        background-color: #fff;
        list-style: none;
    }

    .slideOutLeft {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
        100% {
            visibility: hidden;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
    @keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            visibility: hidden;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    } 

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
        0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes slideInRight {
        0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    } 


    .close-btn {
        align-self: flex-end;
        font-size: 1.5rem;
        color: #E07A5F;
        border: none;
        margin-right: .75rem;
        background-color: #fff;
    }

    .nav-links-phone > :nth-child(3) {
        text-decoration: underline #E07A5F;
        color: #E07A5F;
    }

    .menu-btn {
        display: block;
        padding: 0 .5rem;
        border: .1rem solid #E07A5F;
        border-radius: .2rem;
        background-color: #fff;
        margin-right: .75rem;
        cursor: pointer;
    }

    .menu-btn > hr {
        width: 2rem;
        color: #E07A5F;
        border: .01rem solid #E07A5F;
    }
}

@media (min-width: 427px) and (max-width: 769px) {
    html {
        font-size: 70%;
    }

    .logo-links-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    main {
        padding: 2rem 10rem;
    }

    .logo-img {
        padding-top: 1rem;
        padding-left: 1rem;
        width: 70%;
    }

    .nav-links-reg {
        padding-left: 0;
        gap: 2rem;
    }

    .meal-container {
        grid-template-columns: 1fr 1fr;
    }
}

.hidden {
    display: none;
}