* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Funnel Sans", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid #66666660;
}

.nav-links-reg, .menu-navigator {
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links-reg > li {
    color: #333;
    letter-spacing: .1rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.nav-links-reg > :last-child {
    background-color: #E07A5F;
    padding: .7rem 2rem;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-links-reg > :nth-child(3) {
    text-decoration: underline #E07A5F;
    color: #E07A5F;
}

.nav-links-phone {
    display: none;
}

.menu-btn {
    display: none;
}

hr {
    color: #E07A5F;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 20rem;
}

.page-title {
    text-transform: capitalize;
    text-decoration: underline;
    color: #E07A5F;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.meal-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
}

.meal-photo {
    height: 20rem;
    width: 20rem;
    border-radius: 1.5rem;
    border: .1rem solid #E07A5F;
}

.meal-name {
    font-size: 1.5rem;
    color: #E07A5F;
    margin: 0;
    padding: 0;
}

.meal-description {
    color: #666;
    text-justify: inter-word;
    margin: 0;
    padding: 0;
}

.meal-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.order-button {
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 7.5rem;
    background-color: #E07A5F;
    color: #fff;
    letter-spacing: .3rem;
    cursor: pointer;
    justify-self:  flex-start;
    align-self: flex-end;
    font-size: 1.1rem;
}

footer {
    background-color: #E07A5F;
    display: flex;
    justify-content: center;
    color: #fff;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
}

.logo-img {
    width: 20%;
}