html {
    font-size: 62.5%;
}

.main-container {
    width: 75%;
    justify-self: center;
}

nav {
    display: flex;
    align-items: center;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}